body {
    width: 100vw;
    padding: 0 1%;
    background-color: #696969;
    display: flex;
    align-items: center;
    justify-content: center;
}
.question {  
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
hearder.h1 {
    font-size: 35;
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-family: 'Roboto', sans-serif;
}
.answer {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    margin-left: 350px;
    width: 400px;
}
.text-red {
    color: red;
}
#folha {
    background-color: white;
    width: 70%;
    border-radius: 2px;
    padding: 1% 1%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Arial", "Helvetica", sans-serif;
}
